@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,600;0,800;1,200&display=swap');

:root {
  --bk-gradient: linear-gradient(90deg, #44d6f7 0%, #3a47d5 100%);
  --bk-reverse-gradient: linear-gradient(90deg, #3a47d5 0%, #44d6f7 100%);
  --box-shadow: -5px 6px 7px #66666663;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.button-1 {
  background: var(--bk-gradient);
  box-shadow: var(--box-shadow);
}

section {
  padding: 4rem 0;
  min-height: 90vh;
}